# Week 1

### 1. 정수형

In [118]:
print ("Hello World")

Hello World

In [119]:
a = 5
b = 3
c = 100 # 정수형
d = 1e+2 # 실수형

print(a)
print(b)
print(c)
print(d)

5
3
100
100.0

In [120]:
print(a + b)
print(a - b)
print(a / b)
print(a * b)
print(b + c)
print(b + d)

8
2
1.6666666666666667
15
103
103.0

In [121]:
print(7 % 4) # 나머지
print(7 // 4) # 몫
print(a**b) # a 제곱 b

3
1
125

In [122]:
a = 4
a += 3
print(a)

a /= 3 # a = a / 3
print(a)

a *= 3 # a = a * 3
print(a)

7
2.3333333333333335
7.0

### 2. 문자형

In [123]:
c = "python"
print(c)

d = 'python'
print(d)

e = "'hello' world"
f = 'hello "world"'
print(e)
print(f)

python
python
'hello' world
hello "world"

In [124]:
f = "python3\npython2"
print(f)

f = "python3\tpython2"
print(f)

python3
python2
python3	python2

In [125]:
e = "abcdefgh"

print( e[0] )

print( e[0:3] ) # [0,3)
print( e[:3] ) # same

print( e[-1] ) # backwards
print( e[-3:-1] ) # backwards [-3,-1)

a
abc
abc
h
fg

In [126]:
a = 'abc'
b = 'def'

print(a + b)
print(a * 5)
print('a' * 5)

abcdef
abcabcabcabcabc
aaaaa

### 3. 논리형(boolean)

In [127]:
a = 1
print(a == 1)
print(a != 1)

print(a is 1)
print(a is not 1)

print(a > 0)
print(not a) # 1 = true / 0 = false

True
False
True
False
True
False

In [128]:
print (a in [1, 2, 3])
print ("a" in "abc")

True
True

In [129]:
print( True + True )
print( False + False )
print( True * False )

2
0
0

In [130]:
print( (3 == 2) or (3 * 4 == 12) )
print( (2 * 1 == 2) and (3 * 2 == 6) )

True
True

### 4. 리스트형

In [131]:
# 리스트는 모든 데이터 타입을 다 원소로 받음.
age = [22, 23, 24, 25]
name = ['kim', 'lee', 'park']
TF = [True, False, True]

print(age, name, TF)

[22, 23, 24, 25] ['kim', 'lee', 'park'] [True, False, True]

In [132]:
# 다른 데이터 타입도 하나의 리스트에 포함 가능
a = [1, 2, 3, 'a', 'b', True]
print(a)

[1, 2, 3, 'a', 'b', True]

In [133]:
# list를 list의 원소로 받을 수 있음
c = [1, 2, 3, [4, 5, 6]]
print(c)

[1, 2, 3, [4, 5, 6]]

In [134]:
# indexing & slicing
print(a[0])
print(a[:3])
print(a[2:4])
print(a[3] + a[4])
print(a[-1])

print(c[-1][0:2])

1
[1, 2, 3]
[3, 'a']
ab
True
[4, 5]

In [135]:
# list의 연산
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)
# print(a - b) ERROR

[1, 2, 3, 4, 5, 6]

In [136]:
# list 내의 원소 수정
a = [1, 2, 3, 4, 5, 6, 7]
a[3] = [1, 2, 3]
print(a)

a[3:4] = [1, 2, 3] # 3에서 4전까지(index = 3: [1,2,3])에 값 넣기
print(a)

a[3:5] = [4, 5, 6] # 3에서 5전까지(index = 3, 4: 1, 2)에 값 넣기
print(a)

[1, 2, 3, [1, 2, 3], 5, 6, 7]
[1, 2, 3, 1, 2, 3, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 3, 5, 6, 7]

리스트 관련 내장함수

- `append(e)` : e를 맨 마지막에 넣어라 (list 형태 그대로 원소로 들어감)
- `insert(i, e)` : i 자리에 e를 넣어라
- `extend(list)` : list를 맨 마지막에 merge해서 붙여라 (list 형태만 가능)
- `remove(e)` : 가장 먼저 나오는 e값을 지워라

global
- `del(arr[i])` : arr의 i 자리 값을 지움
- `del(arr)` : arr 자체가 싹 다 지워짐

In [137]:
# list 내장함수
a = []
a.append(4)
print(a)

a.append(4)
print(a)

b = []
b.append([1,2,3,4])
print(b)

[4]
[4, 4]
[[1, 2, 3, 4]]

In [138]:
b.insert(1, 3)
print(b)

[[1, 2, 3, 4], 3]

In [139]:
a = [1, 5, 9]
a.extend([1, 2, 3])
print(a)

[1, 5, 9, 1, 2, 3]

In [140]:
a.remove(1)
print(a)

[5, 9, 1, 2, 3]

In [141]:
del(a[1])
print(a)

[5, 1, 2, 3]

In [142]:
del(a)
# print(a) ERROR